background-size()
  -webkit-background-size arguments
  -moz-background-size arguments
  -o-background-size arguments
  background-size arguments  

body
  background-image url('../images/hipsters.png')
  background-repeat no-repeat
  background-position center center
  background-attachment fixed
  background-size cover

.hero-unit
  color black

.row
  color white